extends layout

block styles
  //css inject
  link(rel="stylesheet", href="styles/5356ea4b.about.css")
  //end inject

block content
  h1= title
  .hongqi
  p
    a(href="/") 回到首页

block scripts
  //js inject
  script(type="text/javascript" src="js/5356ea4b.commons.js")
  script(type="text/javascript" src="js/5356ea4b.about.js")
  //end inject