extends layout

block styles
  //css inject
  //end inject

block content
  h1 #{title}说过,#{user}是早上八九点钟的太阳.
  p.btn 点我试试.
  img(src="images/sun.jpg", alt="早上八九点钟的太阳")
  p
    a(href="/about") 关于我

block scripts
  //js inject
  //end inject